<h2><%= @page.title %></h2>
<h4><%= @page.author %></h4>
<p><%= @page.body %></p>
<%= link_to 'Back', pages_path, {class: 'btn blue'} %>
<%= link_to 'Edit', edit_page_path(@page.id), {class: 'btn'} %>
<%= link_to 'Delete', page_path(@page.id), {method: :delete, class: 'btn red'} %>